name: package-graphql-poller

on:
  workflow_dispatch:
#  schedule:
#    - cron: "*/10 * * * *"

env:
  # APP_DIRS here
  APP_DIR_PACKAGE_GRAPHQL_POLLER: sui-package-utils
  # app specific variables
  PACKAGE_GRAPHQL_POLLER_PACKAGES_DIR_MAINNET: packages/mainnet
  PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN: third-party/move-decompiler/move-decompiler-linux-x86_64
  ACTION_HELPER_JSON: action_helper.json
  NEW_SUI_PACKAGES_DIR: sui-packages-new/packages/mainnet
  RUST_BACKTRACE: 1
  RUST_LIB_BACKTRACE: 1

jobs:
  package-graphql-poller:
    runs-on: ubuntu-24.04
    timeout-minutes: 10 
    steps:
      - name: Checkout sui-packages-code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin to v5
        with:
          repository: MystenLabs/sui-packages-code
          path: sui-packages-code

      - name: Download dependencies
        run: |
          set -e
          ROOT=$(pwd)
          mkdir -p "${ROOT}/inputs/$(dirname $PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN)"
          # download decompiler first as it's longer and it doesn't matter if it's a little out of date
          curl "https://raw.githubusercontent.com/MystenLabs/sui-packages/refs/heads/main/${PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN}" -o "${ROOT}/inputs/${PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN}"
          curl "https://raw.githubusercontent.com/MystenLabs/sui-packages/refs/heads/main/action_helper.json" -o "${ROOT}/inputs/action_helper.json"
          chmod +x "${ROOT}/inputs/${PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN}"
          mkdir -p "${ROOT}/outputs/${NEW_SUI_PACKAGES_DIR}"

      - name: Run sui-packages-graphql-poller
        id: sui_packages_graphql_poller
        run: |
          echo "Running package graphql poller on mainnet" > /dev/stderr
          OLDDIR="$(pwd)"
          SUI_PACKAGES_ROOT="$(pwd)/sui-packages"
          SUI_PACKAGES_CODE_ROOT="$(pwd)/sui-packages-code"
          MAX_CHECKPOINT_BEFORE="$(jq -r .max_checkpoint_seen "${OLDDIR}/inputs/${ACTION_HELPER_JSON}")"
          cd "$SUI_PACKAGES_CODE_ROOT/$APP_DIR_PACKAGE_GRAPHQL_POLLER"
          cargo run --bin sui-packages-graphql-poller -- \
            --move-decompiler-path "${OLDDIR}/inputs/${PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN}" \
            --initial-checkpoint "${MAX_CHECKPOINT_BEFORE}" \
            --packages-dir "${OLDDIR}/outputs/${NEW_SUI_PACKAGES_DIR}" \
            --max-checkpoint-seen-file "${OLDDIR}/outputs/${ACTION_HELPER_JSON}"
          cd "$OLDDIR"
          MAX_CHECKPOINT_AFTER="$(jq -r .max_checkpoint_seen "${OLDDIR}/outputs/${ACTION_HELPER_JSON}")"
          if [[ "$MAX_CHECKPOINT_BEFORE" == "$MAX_CHECKPOINT_AFTER" ]]; then
            echo "sui_packages_checkout_needed=false" >> $GITHUB_OUTPUT
          else
            echo "sui_packages_checkout_needed=true" >> $GITHUB_OUTPUT
          fi

      - name: Checkout sui-packages if needed
        if: ${{ steps.sui_packages_graphql_poller.outputs.sui_packages_checkout_needed == 'true' }}
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin to v5
        with:
          path: sui-packages
          sparse-checkout-cone-mode: true
          sparse-checkout: |
            ${ACTION_HELPER_JSON}

      - name: Commit and Push Changes
        id: commit-and-push
        if: ${{ steps.sui_packages_graphql_poller.outputs.sui_packages_checkout_needed == 'true' }}
        continue-on-error: true
        run: |
          ROOT="$(pwd)"
          if cmp -s "${ROOT}/outputs/${ACTION_HELPER_JSON}" "${ROOT}/sui-packages/${ACTION_HELPER_JSON}"; then
            exit 0
          fi
          cd sui-packages
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          # here be dragons / tricky code
          # the system progresses without errors as long as action_helper.json has a max_seen_checkpoint
          # that is <= the max checkpoint in packages/mainnet/
          for D in $(ls -1 "${ROOT}/outputs/${NEW_SUI_PACKAGES_DIR}"); do
            git sparse-checkout add "packages/mainnet/$D"
          done
          git pull origin main --depth=5
          cp "${ROOT}/outputs/${ACTION_HELPER_JSON}" "${ACTION_HELPER_JSON}"
          cp -a "${ROOT}/outputs/${NEW_SUI_PACKAGES_DIR}"/* "${PACKAGE_GRAPHQL_POLLER_PACKAGES_DIR_MAINNET}/"
          git add "$ACTION_HELPER_JSON"
          git add "$PACKAGE_GRAPHQL_POLLER_PACKAGES_DIR_MAINNET"
          git commit -m "package-graphql-poller: update package data"
          git push origin HEAD

      - name: Process Packages
        if: ${{ steps.sui_packages_graphql_poller.outputs.sui_packages_checkout_needed == 'true' }}
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $PACKAGE_PROCESS_TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "$PACKAGE_PROCESS_API" \
          --data-raw '{"ref":"main","inputs":{}}'
        env:
          PACKAGE_PROCESS_TOKEN: ${{ secrets.PACKAGE_PROCESS_TOKEN }}
          PACKAGE_PROCESS_API: ${{ secrets.PACKAGE_PROCESS_API }}

